# common files to ignore
*~
*.orig
*.rej
*.bak

# compiled files
*.pyc

# Files in the project root directory
/.settings
/dist/
/build/
/sPickle.egg-info/
/*.egg/

# created by the example
/sPickle/examples/example1.pickle